* {
  font-size: 16px;
}

body {
  /* margin: 0 ; */
  background-color: #1b244a;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3,1fr);
  height: 385px;
  width: 575px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

h3 {
  font-family: Verdana;
  color: #eeeeee;
  font-size: 3rem;
}

.point-background {
  width: 155px;
  height: 120px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
}

.points {
  color: #f94f6d;
  font-size: 4rem;
}

.home,
.guest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 155px;
  height: 45px;
}

.button-wrapper button {
  color: #9aabd8;
  background-color: #1b244a;
  border: 1px solid #9aabd8;
  border-radius: 5px;
  width: 45px;
  height: 45px;
}
